/* Login digital*/
 .tela {
    -fx-background-color: linear-gradient(to top, #33a3b3, #375564);
 } 
 .label {
    -fx-text-fill: #fff;
    
 }
 .botoes{
    -fx-background-color: #33a3b2;
    -fx-background-radius: 20px;
    -fx-text-fill: #fff; 
 }.botoes:pressed{
    -fx-background-color: #252521;
    -fx-text-fill: #e9e300; 
    -fx-border-color: #787502;
    -fx-border-radius: 15px;
 }